@import "tailwindcss";

@theme {
  --font-poppins: "Poppins";
  --color-main: var(--color-cyan-500);
  --color-light: var(--color-cyan-300);
  --color-primary: var(--color-cyan-800);
  --color-secondary: var(--color-cyan-700);
  --color-tertiary: var(--color-cyan-600);
}
